
/************************ Min Width 768px ********************************************/
@media screen and (min-width: 768px)  {
  /******************* General **********************/  
  body,
  html {
    font-size: 16px;
  } 
  /**** display *****/
  .gallery, 
  .wrapperContact {
   flex-direction: row;
      -webkit-box-direction: normal;
        -ms-flex-direction: row;
    justify-content: space-around;
       -ms-flex-pack: distribute;
  }
  /**** position *****/
  .background-img {
    position: absolute;  
  }
  /******************* Header **********************/ 
  .background-img {
    background: url("../img/mac.jpg") no-repeat center;
    background-size: cover;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
  }
  .logoheader {
   float: left;
   margin-left: 2rem;
   list-style: none;
  }  
  .myName,
  .jobTitle {
    font-size: 2rem;
    color: #FFF;
    font-weight: 800; 
  }
   /******************* nav **********************/
  .menu li a {
    font-size: 1.4rem;
  }
  /**************** Footer *************/
  .logo {
    height: 3rem;
    width: 3rem;
  }
    .logo:hover {
        border: 3px solid rgb(54, 87, 115);
  }
  footer {
    background-color: rgb(211, 177, 130);
  }
  /************ Page: Home + Contact *************/ 
  @supports (shape-outside: circle(40%)) {
    .photoPresentation {
      float: left;
      -webkit-shape-outside: circle(40%);
      shape-outside: circle(40%);
      margin : 5rem 2rem 4rem 2rem;
    }   
  }
  .presentationWrapper {
    width: 85%;
    background-color: rgb(54, 87, 115);
  }
  .titleSection {
    margin:0;
    color: rgb(211, 177, 130);
    text-align: left;
  }
  .presentationWrapper section {
    margin: 0 0 1.8rem 0;
    border-radius: 50%;
    background-color: rgb(54, 87, 115);
    color: #FFF;
  }
  .skillsWrapper {
    flex-direction: row;
  }
  .skills {
    width: 70%;
  }

  .profil,
  .titleSection,
  .titleSection{
    color: rgb(211, 171, 130);
    text-align: left;
    font-size: 1.4rem;
  }
  .profilonwebsite ul {
    font-size: 1.2rem;
  }
  .presentationWrapper li {
    margin-top: .5rem;
  }
  .job li,
  .education li {
    list-style-type: circle;
    margin-left: 2rem;
  }
  .dlcv {
    width: 5rem;
    height: 5rem;
  }
   /*********** Page : Portfolio  **********************/  
  .wrapper,
  .wrapper section {
    width: 90%;
    margin: auto;
  }
  .gallery1 ,
  .gallery2 {
    width: 100%;
  }
 .gallery1 li,
 .gallery2 li {
  margin: 2rem 0;
 }
  .gallery1 li:last-of-type {
    margin-bottom: 2rem;
  }
  .gallery2 li:first-of-type {
    margin-top: 2rem;
  }
  /************Page: Contact *************/
  .wrapperContact {
    display: flex;
      display: -webkit-box;
        display: -ms-flexbox;
  }
  .primaryColumn {
    margin-right: 3rem;
    margin-bottom: 0;
    width: 50%;
  }
}

/******************************** Min Width 1024px ************************************/
@media screen and (min-width: 1024px) {
  /******************* General **********************/
  body,
  html {
    font-size: 20px;
  }
  .titleSection {
    font-size: 1rem;
  }
  .primaryColumn {
    width: 60%;
  }
}