

/************* positions **************/

.dlcv,
.wrapper,
.wrapper section {
    position: relative;
}


/****** display / Flex direction *******/

.photoPresentation,
.dlcv,
.contact-info a {
    display: flex;
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
}




/************* Links **************/



.secondaryColumn a {
    text-decoration: none;
}


/************* Fonts **********/

.dlcvfont-family: -var(--font-default);{
    font-family: -var(--font-default);
}


/************* Uppercase **********/

.skillsWrapper ul {
    text-transform: uppercase;
}







/******** List-style none **********/


.contact-info li,
.profilOnLearningPlatform li {
    list-style: none;
}


/*********** padding 0 / margin 0 **************/

.wrappercontact,
.contact-info,
.primaryColumn,
.secondaryColumn {
    padding: 0;
}




/*********** width 100% **************/




/***************** Footer **********************/
/* 
.wrapper,
.presentationWrapper,
.wrappercontact {
    overflow: hidden;
} */





/***************** Page: Home/About *************/

.photoPresentation {
    margin: 2rem auto 1rem;
    border-radius: 50%;
    border: 1.5px solid var(--color-sec);
}

.presentationWrapper {
    width: 95%;
    margin: 2rem auto;
    padding: .5rem;
    background-color: var(--color-terc);
    border-radius: 3px;
}

.presentationWrapper section {
    margin: 0 0 2rem 0;
    border-radius: 50px 15px 80px 20px;
    color: var(--color-sec-bis);
}


.skillsWrapper {
    display: flex;
    flex-direction: column;
}

.skillsWrapper ul,
.list-block {
    padding: 0 1rem 0 0;
    line-height: 1.5rem;
}

.skillsWrapper li {
    line-height: 1.4rem;
}

.skills ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.skillsList li {
    background-color: var(--color-sec);
    padding: .5rem;
    margin: .5rem;
    border-radius: 2.5px;
}

.job li {
    list-style: none;
}

.education li {
    list-style-type: circle;
    padding: 0;
}

.dlcv {
    background-color: var(--color-sec);
    border: 1px solid var(--color-sec-bis);
    color: var(--color-default-text);
    border-radius: 20% 30%;
    font-size: 1.5rem;
    width: 3.5rem;
    height: 3.5rem;
    margin: auto;
    margin-bottom: 1rem;
}

.dlcv:hover {
    color: var(--color-sec);
    background-color: var(--color-sec-bis);
}

.dlcv span {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}




/******************* Page: Contact **************/

.wrapperContact {
    margin: 2rem;
}

/* .wrapperContact .titleSection {
    color: var(--color-terc);
} */

.primaryColumn {
    margin-bottom: 2.5rem;
}

.contact-info li {
    margin-top: 1rem;
    display: flex
}

.contact-info li:before {
    width: 2rem;
    text-align: center;
    font-family: 'FontAwesome';
    color: var(--color-terc);
    font-size: 1rem;
}

.phone:before {
    content: '\f10b';
}

.mail:before {
    content: '\f003';
}

.twitter:before {
    content: '\f099';
}

.contact-info a {
    min-height: 1.667rem;
}