.o-wrapper {
    display: flex;
    width: 95%;
    margin: 2rem auto;
    padding: .25rem;
    background-color: transparent;
    color: var(--color-terc);
    border-radius: 3px;
}

.o-wrapper--column {
    flex-direction: column;
}

.o-section__title {
    text-transform: uppercase;
    text-align: center;
    font-size: 1.3rem;
    color: var(--color-sec-bis);    
    font-family: -var(--font-default);
    margin: 0;
}

.o-items {
    padding: 0 .5rem;
    margin: 0;
}

.o-items--no-bullet {
    list-style: none;
}



.o-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-sec);
    border: 1px solid var(--color-sec-bis);
    color: var(--color-default-text);
    font-size: 1.5rem;
}

.o-button:hover {
    color: var(--color-sec);
    background-color: var(--color-sec-bis);
}



@media screen and (min-width: 768px) {
    .o-wrapper {
        width: 90%;
        background-color: transparent;
        color: var(--color-terc);
        border-radius: 3px;
    }
    .o-section__title {
        color: var(--color-terc);
        text-align: left;
    }
}

@media screen and (min-width: 1024px) {
    .o-wrapper {
        width: 85%;
        padding: 1rem;
        
    }
    .o-section__title {
        font-size: 1rem;
        white-space: nowrap;
    }



}