/************************ Min Width 768px ********************************************/

@media screen and (min-width: 768px) {

    /**** display *****/
    .wrapperContact {
        flex-direction: row;
        justify-content: space-around;
    }


    /************ Page: Home + Contact *************/
    .photoPresentation {
        float: left;
        shape-outside: circle(40%);
        margin: 5rem 2rem 4rem 2rem;
    }
    .presentationWrapper {
        width: 85%;
        background-color: var(--color-sec-bis);
    }
    .presentationWrapper section {
        margin: 0 0 1.8rem 0;
        border-radius: 50%;
        background-color: var(--color-sec-bis);
        color: #FFF;
    }
    .skillsWrapper {
        flex-direction: row;
    }
    .skills {
        width: 70%;
    }
    .list-block {
        padding-left: 1.5rem;
    }
    .profil,
    .titleSection,
    .titleSection {
        color: var(--color-terc);
        text-align: left;
        font-size: 1.4rem;
    }
    .profilonwebsite ul {
        font-size: 1.2rem;
    }
    .presentationWrapper li {
        margin-top: .5rem;
    }
    .job li,
    .education li {
        list-style-type: circle;
    }
    .dlcv {
        width: 5rem;
        height: 5rem;
    }

    /************Page: Contact *************/
    .wrapperContact {
        display: flex;
        display: -webkit-box;
        display: -ms-flexbox;
    }
    .primaryColumn {
        margin-right: 3rem;
        margin-bottom: 0;
        width: 50%;
    }
}


/******************************** Min Width 1024px ************************************/

@media screen and (min-width: 1024px) {
   
    .presentationWrapper {
        background-color: var(--color-sec-bis);
    }

    .primaryColumn {
        width: 60%;
    }
}