
.c-skills {
    display: flex;
    flex-wrap: wrap;
    padding: 0 1rem 0 0;
    line-height: 1.5rem;
}
.c-skill {
    background-color: var(--color-sec);
    padding: .5rem;
    margin: .5rem;
    border-radius: 2.5px;
    text-transform: uppercase;
    
}
