.c-footer {
    background: var(--color-sec-bis);
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 6rem;
    text-align: center;
    color: var(--color-default-text);
    font-family: -var(--font-default);    
}

.c-footer__copyright {
    text-transform: capitalize;    
    margin: .5rem 0;
    font-weight: 800;
}


.c-footer__icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 4rem;
    width: 50%;
}

.c-footer__icon {
    color: var(--color-default-text);    
    font-size: 2rem;
}



@media screen and (min-width: 768px) {

    .c-footer {
        background-color: var(--color-terc);
    }
    .c-footer__icon,
    .c-footer__copyright {
        color: var(--color-sec-bis);
    }
}


@media screen and (min-width: 1024px) {
    
     .c-footer__icons {
       width: 20%;
     }
     .c-footer__icon:hover {
         font-size: 2.25rem;
     }
 }