.c-navigation,
.c-navigation__items,
.c-navigation__item {
    display: flex;
}

.c-navigation {
    justify-content: center;
}

.c-navigation__items {
    background-color: color(var(--color-prim) a(70%));
    border-radius: 10px;
    padding: 0 .5rem;
}

.c-navigation__item {
    margin: .2rem 0;
}

.c-navigation__item:nth-child(2) {
    border-right: 2px solid var(--color-prim);
    border-left: 2px solid var(--color-prim);
}

.c-navigation__link {
    padding: .2rem 1rem;
    color: var(--color-default-text);
    font-weight: 700;
    text-transform: capitalize;
}

.is-selected,
.c-navigation__link:hover {
    color: var(--color-sec);
}

@media screen and (min-width: 768px) {
    .c-navigation__link {
        font-size: 1.4rem;
    }
}